fastapi
uvicorn
python-multipart
pydantic
PyPDF2
docx2txt
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
openai
supabase
python-jose
ddgs
