@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar agar mirip ChatGPT */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}